div#comic {
    text-align: center;
    width: 100%;
}
form {
    position: absolute;
    left: 25vw;
}
div.form {
    text-align: left;
    width: 50vw;
}
input#title {
    width: 200px;
}
input#favored {
    width: 10px;
}
input#url {
    width: 400px;
}
input#chapter {
    width: 50px;
}
.editinfo {
    display: block;
    margin: 20px 0px 20px 0px;
}