div.webcomicbox {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    border: none;
    padding: 0;
    width: 32vw;
    height: 300px;
    background-color: #17141d;
}
div.webcomicbox > button.favori {
    position: absolute;
    margin: 0;
    border: none;
    padding: 0;
    width: 24px;
    height: 23px;
}
div.webcomicbox > button.favori > img.favbutton {
    margin: 0;
    border: none;
    padding: 0;
    width: 24px;
    height: 23px;
}
div.webcomicbox > div.image {
    margin: 0;
    border: none;
    padding: 0;
    text-align: center;
    background-color: #17141d;
    width: 32vw;
    height: 250px;
}
div.webcomicbox>div.image>a.urlImage:link, div.webcomicbox>div.image>a.urlImage:visited,div.webcomicbox>div.image>a.urlImage:active,div.webcomicbox>div.image>a.urlImage:hover{
    margin: 0;
    border: none;
    padding: 0;
    text-align: center;
    background-color: #17141d;
    width: 32vw;
    height: 250px;
}
div.webcomicbox > div.image > a.urlImage > img.comic {
    margin: 0;
    border: none;
    padding: 0;
    height: 250px;
}
div.webcomicbox > div.title {
    margin: 0;
    border: none;
    padding: 0;
    background-color: #17141d;
    text-align: center;
} 
div.title>a.url:link, div.title>a.url:visited, div.title>a.url:active, div.title>a.url:hover {
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #4599eb;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    background-color: #17141d;
}

div.webcomicbox > div.chapter {
    margin: 0;
    border: none;
    padding: 0;
    background-color: #17141d;
    text-align: center;
}
div.webcomicbox > div.chapter > p.chapter {
    display: inline-block;
    margin: 4px;
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #4599eb;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    background-color: #17141d;
}
div.webcomicbox > div.chapter > button.chapter {
    display: inline-block;
    margin: 4px;
    border: none;
    border-radius: 5px;
    width: 15px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #4599eb;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    background-color: #17141d;
} div.webcomicbox > div.chapter > button.chapter:hover {
    color: #17141d;
    background-color: #4599eb;
}