.editinfo {
    padding: 0px;
    border: none;
    background-color: #17141d;
}
.inline {
    display: inline-block;
}

.label {
    margin: 2px;
    border: none;
    padding: 2px;
    text-align: left;
    text-decoration: none;
    color: #4599eb;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    background-color: #17141d;
    vertical-align: top;
}

.input {
    margin: 2px;
    padding: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}

.select {
    margin: 2px;
    padding: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}

.checkbox {
    margin: 2px;
    padding: 2px;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
}

.radio {
    margin: 2px;
    padding: 2px;
}

.checkboxGroup {
    margin: 2px;
    padding: 2px;
}

.textarea {
    margin: 2px;
    padding: 2px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}